@import "tailwindcss";
@import "@fontsource/momo-trust-display/latin-400.css";
@import "@fontsource/righteous/latin-400.css";
@import "@fontsource/belanosima/latin-400.css";
@import "@fontsource/belanosima/latin-600.css";
@import "@fontsource/belanosima/latin-700.css";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant colorblind (&:where(.colorblind, .colorblind *));

@theme inline {
    --color-primary: var(--primary);
    --color-on-primary: var(--on-primary);
    --color-primary-container: var(--primary-container);
    --color-on-primary-container: var(--on-primary-container);

    --color-secondary: var(--secondary);
    --color-on-secondary: var(--on-secondary);
    --color-secondary-container: var(--secondary-container);
    --color-on-secondary-container: var(--on-secondary-container);
    --color-on-secondary-container-muted: var(--on-secondary-container-muted);

    --color-surface: var(--surface);
    --color-on-surface: var(--on-surface);
    --color-surface-bright: var(--surface-bright);
    --color-surface-tint: var(--surface-tint);
    --color-surface-container-high: var(--surface-container-high);
    --color-surface-container-highest: var(--surface-container-highest);
    --color-surface-variant: var(--surface-variant);

    --color-outline: var(--outline);
    --color-outline-variant: var(--outline-variant);

    --font-momo-trust-display: "Momo Trust Display", sans-serif;
    --font-righteous: "Righteous", sans-serif;
    --font-belanosima: "Belanosima", serif;
    --font-main:
        -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html {
    scroll-padding-top: 12rem;
}

html,
body {
    cursor:
        url("/cursor/default-32px.png") 9 4,
        auto;
}

[data-tooltip],
abbr[title],
.cursor-help {
    cursor:
        url("/cursor/help-32px.png") 2 2,
        help;
}

input:not([type]),
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
[contenteditable="true"],
.cursor-text {
    cursor:
        url("/cursor/text-32px.png") 16 16,
        text;
}

a,
button,
[role="button"],
summary,
label,
select,
input[type="button"],
input[type="checkbox"],
input[type="color"],
input[type="file"],
input[type="image"],
input[type="radio"],
input[type="range"],
input[type="reset"],
input[type="submit"],
.cursor-pointer {
    cursor:
        url("/cursor/pointer-32px.png") 12 2,
        pointer;
}

.colorblind.dark {
    --primary: #e69f00;
    --on-primary: #000000;
    --primary-container: #e69f00;
    --on-primary-container: #000000;

    --secondary: #f0e442;
    --on-secondary: #000000;
    --secondary-container: #0072b2;
    --on-secondary-container: #f0e442;
    --on-secondary-container-muted: #f0e442cc;

    --surface: #000000;
    --on-surface: #f0e442;
    --surface-bright: #000000;
    --surface-tint: #56b4e9;
    --surface-container-high: #0072b2;
    --surface-container-highest: #0072b2;
    --surface-variant: #009e73;

    --outline: #e69f00;
    --outline-variant: #f0e44299;
}

.colorblind {
    --primary: #e69f00;
    --on-primary: #000000;
    --primary-container: #0072b2;
    --on-primary-container: #f0e442;

    --secondary: #f0e442;
    --on-secondary: #000000;
    --secondary-container: #f0e442;
    --on-secondary-container: #000000;
    --on-secondary-container-muted: #000000cc;

    --surface: #0072b2;
    --on-surface: #f0e442;
    --surface-bright: #0072b2;
    --surface-tint: #0072b2;
    --surface-container-high: #56b4e9;
    --surface-container-highest: #56b4e9;
    --surface-variant: #56b4e9;

    --outline: #0072b2;
    --outline-variant: #0072b299;
}

.dark {
    --primary: #d79612;
    --on-primary: #03061a;
    --primary-container: #d79612;
    --on-primary-container: #03061a;

    --secondary: #fff5c2;
    --on-secondary: #03061a;
    --secondary-container: #0b1438;
    --on-secondary-container: #fff5c2;
    --on-secondary-container-muted: #fff5c2cc;

    --surface: #050b2a;
    --on-surface: #fff5c2;
    --surface-bright: #071a54;
    --surface-tint: #5aa6ff;
    --surface-container-high: #071a54;
    --surface-container-highest: #0b1438;
    --surface-variant: #10245f;

    --outline: #d79612;
    --outline-variant: #fff5c266;
}

:root {
    --primary: #fab826;
    --on-primary: #103098;
    --primary-container: #007dff;
    --on-primary-container: #fff5c2;

    --secondary: #fff5c2;
    --on-secondary: #103098;
    --secondary-container: #fff5c2;
    --on-secondary-container: #103098;
    --on-secondary-container-muted: #103098cc;

    --surface: #103098;
    --on-surface: #fff5c2;
    --surface-bright: #007dff;
    --surface-tint: #007dff;
    --surface-container-high: #0955d5;
    --surface-container-highest: #00baf2;
    --surface-variant: #00baf2;

    --outline: #103098;
    --outline-variant: #007dff99;
}

.colorblind button:not(.nav-menu-trigger):hover {
    text-decoration-line: underline;
}

.colorblind a:hover {
    border: 2px solid currentColor;
    border-radius: 0.25rem;
}
