@import "tailwindcss";
@font-face {
    font-family: "Momo Trust Display";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("@fontsource/momo-trust-display/files/momo-trust-display-latin-400-normal.woff2")
        format("woff2");
}

@font-face {
    font-family: "Righteous";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("@fontsource/righteous/files/righteous-latin-400-normal.woff2")
        format("woff2");
}

@font-face {
    font-family: "Belanosima";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("@fontsource/belanosima/files/belanosima-latin-400-normal.woff2")
        format("woff2");
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant colorblind (&:where(.colorblind, .colorblind *));

@theme inline {
    --color-primary: var(--primary);
    --color-on-primary: var(--on-primary);

    --color-secondary: var(--secondary);
    --color-on-secondary: var(--on-secondary);

    --color-surface: var(--surface);
    --color-on-surface: var(--on-surface);
    --color-surface-navigation: var(--surface-navigation);
    --color-surface-tint: var(--surface-tint);
    --color-surface-elevated: var(--surface-elevated);
    --color-surface-variant: var(--surface-variant);

    --color-outline: var(--outline);
    --color-outline-variant: var(--outline-variant);

    --font-momo-trust-display: "Momo Trust Display", sans-serif;
    --font-righteous: "Righteous", sans-serif;
    --font-belanosima: "Belanosima", serif;
    --font-opendyslexic: "OpenDyslexic", sans-serif;
    --font-main:
        -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html {
    scroll-padding-top: 12rem;
}

html,
body {
    cursor:
        url("/cursor/default-32px.png") 9 4,
        auto;
}

[data-tooltip],
abbr[title],
.cursor-help {
    cursor:
        url("/cursor/help-32px.png") 2 2,
        help;
}

input:not([type]),
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
[contenteditable="true"],
.cursor-text {
    cursor:
        url("/cursor/text-32px.png") 16 16,
        text;
}

a,
button,
[role="button"],
summary,
label,
select,
input[type="button"],
input[type="checkbox"],
input[type="color"],
input[type="file"],
input[type="image"],
input[type="radio"],
input[type="range"],
input[type="reset"],
input[type="submit"],
.cursor-pointer {
    cursor:
        url("/cursor/pointer-32px.png") 12 2,
        pointer;
}

.colorblind.dark {
    --primary: #e69f00;
    --on-primary: #000000;

    --secondary: #f8ffff;
    --on-secondary: #000000;

    --surface: #000000;
    --on-surface: #f0e442;
    --surface-navigation: #000000;
    --surface-tint: #56b4e9;
    --surface-elevated: #0072b2;
    --surface-variant: #009e73;

    --outline: #e69f00;
    --outline-variant: #f0e44299;
}

.colorblind {
    --primary: #e69f00;
    --on-primary: #153866;

    --secondary: #f8ffff;
    --on-secondary: #153866;

    --surface: #0083cc;
    --on-surface: #f8ffff;
    --surface-navigation: #0083cc;
    --surface-tint: #0072b2;
    --surface-elevated: #0072b2;
    --surface-variant: #f0e442;

    --outline: #0072b2;
    --outline-variant: #0072b299;
}

/* .dark {
    --primary: #d79612;
    --on-primary: #03061a;

    --secondary: #fff5c2;
    --on-secondary: #03061a;

    --surface: #050b2a;
    --on-surface: #fff5c2;
    --surface-navigation: #071a54;
    --surface-tint: #5aa6ff;
    --surface-elevated: #071a54;
    --surface-variant: #10245f;

    --outline: #d79612;
    --outline-variant: #fff5c266;
} */

/* legacy color for testing in dark mode */
.dark {
    --primary: #ffb145;
    --on-primary: #03316d;

    --secondary: #0a4296;
    --on-secondary: #f8ffff;

    --surface: #03316d;
    --on-surface: #f8ffff;
    --surface-navigation: #3c83e0;
    --surface-tint: #2e6dbf;
    --surface-elevated: #2e6dbf;
    --surface-variant: #ffdd6b;

    --outline: #f8ffff;
    --outline-variant: #2e6dbf;
}
:root {
    --primary: #f2b236;
    --on-primary: #103098;

    --secondary: #faf8f5;
    --on-secondary: #103098;
    --surface: #b9eaec;
    --on-surface: #0853d1;
    --surface-navigation: #3699ff;
    --surface-tint: #b9eaec;
    --surface-elevated: #5fbde3;
    --surface-variant: #eeeba3;

    --outline: #103098;
    --outline-variant: #0853d1;
}

.colorblind button:not(.nav-menu-trigger):hover {
    text-decoration-line: underline;
}

.colorblind a:hover {
    border: 2px solid currentColor;
    border-radius: 0.25rem;
}

body.dyslexia main,
body.dyslexia main * {
    font-family: var(--font-opendyslexic);
}
